
    /**
    * {{^description}}Gets or Sets {{{name}}}{{/description}}{{#description}}{{description}}{{/description}}
    */
    public enum {{#datatypeWithEnum}}{{{.}}}{{/datatypeWithEnum}}{{^datatypeWithEnum}}{{classname}}{{/datatypeWithEnum}} {
        {{#allowableValues}}{{#enumVars}}{{{name}}}{{^-last}},{{/-last}}{{#-last}};{{/-last}}
        {{/enumVars}}{{/allowableValues}}
    }
