/**
* {{#description}}{{.}}{{/description}}{{^description}}{{classname}}{{/description}}
*/

@Data
@Builder
public class {{classname}} {{#parent}}extends {{{parent}}} {{/parent}}{{#parcelableModel}}implements Parcelable {{#serializableModel}}, Serializable {{/serializableModel}}{{/parcelableModel}}{{^parcelableModel}}{{#serializableModel}}implements Serializable {{/serializableModel}}{{/parcelableModel}}{

{{#serializableModel}}
    private static final long serialVersionUID = 1L;
{{/serializableModel}}
{{#vars}}
    {{#description}}/* {{description}} */{{/description}}
    {{#required}}{{^isEnum}}{{#isString}}@NotBlank(message = "{{name}} cannot be null or whitespace") {{/isString}}{{/isEnum}}{{#isEnum}}@NotNull(message = "{{name}} cannot be null"){{/isEnum}}{{^isString}}@NotNull(message = "{{name}} cannot be null"){{/isString}}{{/required}}{{^required}}@Builder.Default{{/required}}
    private {{{datatypeWithEnum}}} {{name}}{{^required}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{/required}};

{{/vars}}
{{#vars}}{{#isEnum}}{{^isContainer}}{{>modelInnerEnum}}{{/isContainer}}{{/isEnum}}{{#items.isEnum}}{{#items}}{{^isContainer}}{{>modelInnerEnum}}{{/isContainer}}{{/items}}{{/items.isEnum}}{{/vars}}
{{#vars}}
    {{^required}}
    public Option<{{{datatypeWithEnum}}}> {{#isBoolean}}is{{/isBoolean}}{{getter}}(){return Option.of(this.{{name}});}
    {{/required}}
{{/vars}}
}