{{#returnContainer}}{{#isMapContainer}}Map<String, {{{returnType}}}>{{/isMapContainer}}{{#isListContainer}}Flux<{{{returnBaseType}}}>{{/isListContainer}}{{/returnContainer}}{{^returnContainer}}Mono<{{{returnType}}}>{{/returnContainer}}